// Name of habit
.heading-name{
    display: block;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: rgba(255, 255, 255, 0.788);
}

// all icons 

// picking date
.date-container{
    display: flex;
    padding: 5px;
    font-size: 1.5rem;
    
    div{
        display: inline-flex;

        .date-picker{
            font-size: 1rem;
            background-color: rgba(43, 40, 40, 0.473);
            color: white;
            border: 1.5px solid gray;
            border-radius: 10px;
            padding: 5px;
        }
    }

    // search icon on buttom
    .fas{
        color: white;
        font-size: large;
        font-size: x-large;
        position: relative;
    }
    .fa-search{
        color: white;
    }
    button{
        border: none;
        background-color: rgba(24, 22, 22, 0.925);
        :hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

.key{
    display: inline-flex;
}

// Display of list items
#item-list{
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    padding: 0px;
    
    li{
        list-style: none;
        font-size: 1.5rem;
        display: flex;
        margin-top: 7px;
        margin-bottom: 7px;
    }
}

.status{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    position: initial;
}

.status:hover {
    transform: scale(1.2);
    cursor: pointer;
}